.app.dark {
    --bg-color: #252525;
    --main-color: #24484e;
    --accent-color: #f15a3b;
    --main-font-color: #fdfdfd;

    --button-color: #252525;
    --button-color_hover: #363636;
    --button-color_active: #191919;

    --input-bg-color: #454545;
    --input-bg-color_focus: #717171;
    --input-bg-color_disabled: #2d2c2c;
    --input-color_disabled: #414040;
}
