.app.light {
    --bg-color: #e4e0e0;
    --main-color: #88a2a5;
    --accent-color: #f15a3b;
    --main-font-color: #191919;

    --button-color: #365b61;
    --button-color_hover: #40808a;
    --button-color_active: #183a40;

    --input-bg-color: #f3f1f1;
    --input-bg-color_focus: #ffffff;
    --input-bg-color_disabled: #d4d0d0;
    --input-color_disabled: #9f9d9d;
}
