.UIButton {
    font: var(--font-s);
    font-weight: 600;
    border: none;
    cursor: pointer;

    &.type-primary {
        background-color: var(--button-color);
        color: #fdfdfd;

        &:hover {
            background-color: var(--button-color_hover);
        }
        &:active {
            background-color: var(--button-color_active);
        }
    }
    &.type-outline {
        background-color: transparent;
        border: 1px solid var(--button-color);
        color: var(--button-color);

        &:hover {
            border-color: var(--button-color_hover);
            color: var(--button-color_hover);
        }
        &:active {
            border-color: var(--button-color_active);
            color: var(--button-color_active);
        }
    }

    &.size-s {
        padding: 5px 30px;
        border-radius: 6px;
    }
    &.size-md {
        padding: 8px 25px;
        border-radius: 7px;
    }
    &.size-lg {
        padding: 10px 30px;
        border-radius: 7px;
    }

    &.type-round {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        padding: 0;
        border-radius: 50%;
        background-color: var(--main-color);
        color: var(--main-font-color);
    }
}
